@media (max-width: 991px) {
  .fake-url-bar {
    width: 60%; /* Allows the URL bar to take more width on smaller screens */
    padding: 6px 8px; /* Optionally reduce padding on smaller screens */
  }
  .central-container {
    margin: 3rem 3rem;
  }

  .flex-container {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }

  .img-medium {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .central-container {
    margin: 2rem 2rem;
  }

  .browser-controls {
    gap: 1px;
  }

  .browser-dot {
    width: 10px;
    height: 10px;
  }

  .fake-url-bar {
    width: 70%; /* Allows the URL bar to take more width on smaller screens */
    padding: 6px 8px; /* Optionally reduce padding on smaller screens */
  }
  .container-padding {
    padding: 1.5rem;
  }
}

@media (max-width: 575px) {
  .central-container {
    margin: 1rem;
  }

  .container-padding {
    padding: 2rem;
  }

  .browser-dot {
    width: 10px;
    height: 10px;
  }

  .fake-url-bar {
    width: 60%; /* Allows the URL bar to take more width on smaller screens */
    padding: 5px 5px; /* Optionally reduce padding on smaller screens */
  }

  .px-large {
    padding: 1rem;
  }

  .form-smaller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;
    margin-top: 2rem;
  }

  h1 {
    font-size: 2.3rem;
  }
}
