* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  color: #0a0a24;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 700;
}

p,
label {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75;
}

legend {
  font-weight: 600;
}

footer {
  background: #2a2a36;
}

footer p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 0;
}

footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* .central-container {
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin: 3.125rem 10rem; 
} */

a:link,
a:visited {
  color: #1d70b8;
  transition: all 0.03s;
}

a:hover,
a:active {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  color: #003078;
}

a:focus {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  outline: 2px solid rgba(0, 0, 0, 0);
  color: #2f2e41;
  background-color: #fd0;
}

.w-90 {
  width: 90% !important;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.central-container {
  /* White background for the container */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 3.125rem 10rem;
  border-radius: 10px;
}

.container-padding {
  padding: 2rem 1rem;
}

.card-header {
  background: #2a2a36;
  position: relative;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.browser-controls {
  display: flex;
  gap: 8px;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.browser-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.browser-dot:last-child {
  /* Ensures that the last dot doesn't have a margin on the right */
  margin-right: 0;
}

.red-dot {
  background-color: #ff605c;
}
.yellow-dot {
  background-color: #ffbd44;
}
.green-dot {
  background-color: #00ca4e;
}

.fake-url-bar {
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 3px 10px;
  width: 70%;
  color: #333;
  white-space: nowrap;
  font-family: monospace;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  background: black;
}

.heading-primary {
  color: white;
  font-size: 2rem;
}

.btn {
  font-size: 1.125rem;
  font-weight: 700;
}

.img-medium {
  width: 50%;
}

.form-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.custom-radio {
  display: inline-block;
  width: fit-content;
  padding: 0.313rem 0.838rem;
}

.custom-radio input[type="radio"] {
  width: 30px;
  height: 30px;
}

.custom-radio:focus-within {
  outline: 2px solid #0a0a24;
  outline-offset: -2px;
}

.custom-radio .form-check {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.form-check-input,
.form-check-label {
  cursor: pointer;
}
