* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  color: #0a0a24;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.w-90 {
  width: 90% !important;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.central-container {
  background-color: #fff; /* White background for the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  margin: 3.125rem 10rem; /* Space around the container */
}

.container-padding {
  padding: 3rem;
}

.card-header {
  background: #2a2a36;
  position: relative;
  height: 45px; /* Set a fixed height so that it's visible even with no content */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}
.browser-controls {
  /* Positioning and styling for the browser tab area */
  /* position: absolute; */
  /* position: relative;
  height: 100%;
  display: flex;
  align-items: center; */
  /* top: 2px;
  left: 13px; */
  display: flex;
  gap: 8px;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.browser-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.browser-dot:last-child {
  margin-right: 0; /* Ensures that the last dot doesn't have a margin on the right */
}

.red-dot {
  background-color: #ff605c;
}
.yellow-dot {
  background-color: #ffbd44;
}
.green-dot {
  background-color: #00ca4e;
}

.fake-url-bar {
  background-color: #e2e2e2; /* Slightly different background for contrast */
  border-radius: 10px;
  padding: 6px 12px;
  width: 70%;
  color: #333;
  white-space: nowrap;
  font-family: monospace;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 {
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 700;
}

.header {
  background: black;
}

.heading-primary {
  color: white;
  font-size: 2rem;
}

p,
label {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75;
}

.btn {
  font-size: 1.125rem;
  font-weight: 700;
}

a:link,
a:visited {
  color: #1d70b8;
  transition: all 0.03s;
}

a:hover,
a:active {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  color: #003078;
}

a:focus {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  outline: 2px solid rgba(0, 0, 0, 0);
  color: #2f2e41;
  background-color: #fd0;
}

.img-medium {
  width: 50%;
}

.form-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

/* Custom radio button style */
/* .form-check-input {
  width: 25px; 
  height: 25px; 
  cursor: pointer; 
  accent-color: #007bff; 
} */

/* Custom label style */
/* .form-check-label {
  margin-left: 0.625rem; 
  cursor: pointer; 
} */

/* Remove the default focus outline */
/* .form-check-input:focus {
  outline: none; 
  box-shadow: none; 
} */

/* Custom focus state */
/* .form-check-input:focus + .form-check-label {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  padding: 0.375rem;
  border-radius: 0.25rem;
} */

/* To ensure the box-shadow takes effect properly */
/* .form-check-label {
  margin-left: 0.3rem;
} */

/* fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.custom-radio {
  display: inline-block;
  /* Adjust the width and padding as desired */
  width: fit-content;
  padding: 0.313rem 0.838rem;
}

.custom-radio input[type="radio"] {
  /* transform: scale(1.5); */
  width: 30px;
  height: 30px;
}

.custom-radio:focus-within {
  outline: 2px solid #0a0a24;
  outline-offset: -2px;
}

.custom-radio .form-check {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.form-check-input,
.form-check-label {
  cursor: pointer;
}

.px-large {
  padding: 3.125rem;
}
